In [2]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.59.tar.gz (25 kB)
Requirement already satisfied: pandas>=0.24 in c:\users\hp\anaconda3\lib\site-packages (from yfinance) (1.1.3)
Requirement already satisfied: numpy>=1.15 in c:\users\hp\anaconda3\lib\site-packages (from yfinance) (1.19.2)
Requirement already satisfied: requests>=2.20 in c:\users\hp\anaconda3\lib\site-packages (from yfinance) (2.24.0)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.9.tar.gz (8.1 kB)
Requirement already satisfied: lxml>=4.5.1 in c:\users\hp\anaconda3\lib\site-packages (from yfinance) (4.6.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2020.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\hp\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\hp\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance, multitasking
  Building wheel for yfinance (setup.py): started
  Building wheel for yfinance (setup.py): finished with status 'done'
  Created wheel for yfinance: filename=yfinance-0.1.59-py2.py3-none-any.whl size=23447 sha256=7c74c29aaab43f0c80e014912ecfd9d41ad0ee4b2630aeb0d1df606238487bf2
  Stored in directory: c:\users\hp\appdata\local\pip\cache\wheels\7e\d5\f4\f628965651f61ae35c2bdc73571ce1a2026e1550a336b5ad4b
  Building wheel for multitasking (setup.py): started
  Building wheel for multitasking (setup.py): finished with status 'done'
  Created wheel for multitasking: filename=multitasking-0.0.9-py3-none-any.whl size=8372 sha256=2d3e5edbc87ecf29a33247eff63947fe9c84f044d06c13ef5823da834fbcfb76
  Stored in directory: c:\users\hp\appdata\local\pip\cache\wheels\57\6d\a3\a39b839cc75274d2acfb1c58bfead2f726c6577fe8c4723f13
Successfully built yfinance multitasking
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.9 yfinance-0.1.59
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import numpy as np
import yfinance as yf

# Yahoo Finance API for Python to provide live cryptocurrency data with less then a second lag

In [5]:
data = yf.download(tickers='BTC-USD', period='22h', interval='5m')

# Yahoo Finance API arguments: Tickers || Start Date + End Date || Interval
#period - 22 last hours (argument_2)
#interval = interval of 5 minutes (argument_3)

[*********************100%***********************]  1 of 1 completed

In [6]:
data

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-04-12 21:40:00+01:00,60225.453125,60225.453125,60215.382812,60220.113281,60220.113281,0
2021-04-12 21:45:00+01:00,60205.773438,60251.160156,60205.773438,60241.347656,60241.347656,0
2021-04-12 21:50:00+01:00,60247.441406,60247.441406,60236.179688,60238.906250,60238.906250,208896
2021-04-12 21:55:00+01:00,60232.863281,60233.667969,60156.992188,60156.992188,60156.992188,6852608
2021-04-12 22:00:00+01:00,60146.238281,60146.238281,60090.765625,60090.765625,60090.765625,0
...,...,...,...,...,...,...
2021-04-13 18:20:00+01:00,63238.199219,63298.746094,63238.199219,63263.343750,63263.343750,56438784
2021-04-13 18:25:00+01:00,63280.316406,63300.089844,63235.703125,63235.703125,63235.703125,71888896
2021-04-13 18:30:00+01:00,63248.148438,63332.281250,63246.984375,63317.542969,63317.542969,124309504
2021-04-13 18:35:00+01:00,63292.089844,63300.191406,63249.792969,63300.191406,63300.191406,58916864
2021-04-13 18:40:03+01:00,63235.679688,63235.679688,63235.679688,63235.679688,63235.679688,0

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 253 entries, 2021-04-12 21:40:00+01:00 to 2021-04-13 18:40:03+01:00
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       253 non-null    float64
 1   High       253 non-null    float64
 2   Low        253 non-null    float64
 3   Close      253 non-null    float64
 4   Adj Close  253 non-null    float64
 5   Volume     253 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 13.8 KB

In [8]:
# dataframe to be stored in CSV file
data.to_csv('livebitcoindata.csv')